fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
evidently
psycopg2-binary
psycopg2 
sqlalchemy
asyncpg
fastapi-users[sqlalchemy]
mlflow
optuna
shap
xgboost
aiofiles
httpx
huggingface_hub